# Force Unix line endings for shell scripts to prevent execution errors on Linux/macOS
*.sh text eol=lf
pyproject.toml text eol=lf
installer/appimage/AppRun text eol=lf
installer/debian/atlas text eol=lf
